* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
hr {
  width: 30px;
  height: 2px;
  background-color: #e7b922;
}
nav {
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 160px;
  margin-bottom: 0px;
}
.nav-links {
  flex: 1;
  text-align: right;
  margin-bottom: 75px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e7b922;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.hero-btn {
  display: inline;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #e7b922;
  background: #e7b922;
  transition: 1s;
}
nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #e7b922;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -290px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
.product {
  margin: auto;
  width: 80%;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}
p {
  color: black;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.row1 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row2 {
  margin-top: 5%;
  display: grid;
  justify-content: space-around;
}
.product-col {
  flex-basis: 31%;
  background: #f8e4a6;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.product-col p {
  text-align: left;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: black;
}
.product-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .row1 {
    flex-direction: column;
  }
}
.about-us {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.about-col {
  flex-basis: 31%;
  background: #f8e4a6;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 2%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.about-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.why-us {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  width: 90%;
  top: 50%;
  left: 50%;
}
.why-us h1 {
  background-attachment: fixed;
  text-align: center;
}
.why-us h3 {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
}
.we-can {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.we-can-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.about-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.about-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: #f8e4a6;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: black;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) translateY(-15%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: #e7b922;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.sub-header {
  height: 50vh;
  width: 100%;

  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}
.sub-header h1 {
  margin-top: 25px;
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
  padding-top: 37px;
}
.location iframe {
  width: 80%;
  padding-top: 100px;
  margin-top: 90px;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0%;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: black;
}
@media (max-width: 700px) {
  .contact-col h5 {
    font-size: 2px;
  }
}
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.gallery {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.gallery h3 {
  margin-top: 100px;
  color: black;
}
.gallery-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.gallery-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities h3 {
  margin-top: 100px;
}
.facilities-col p {
  flex-basis: 31%;
  background: #f8e4a6;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.bout-us {
  width: 80%;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 10px;
}
.bout-col {
  flex-basis: 48%;
  padding: 30px 2px;
  padding-top: 37px;
}
.bout-col p {
  text-align: left;
  font-size: 20px;
}
.bout-col img {
  width: 90%;
  height: auto;
}
.bout-col-img img {
  width: 60%;
  height: auto;
  position: relative;
  bottom: 20px;
}
.bout-col-img {
  margin-top: 100px;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
.visi-col h5 {
  color: black;
}
.visi-col {
  flex-basis: 31%;

  border-radius: 10px;
  margin-bottom: 15%;
  padding: 20px 12px;
  box-sizing: border-box;
  border: 1px solid #e7b922;
}

.btn-facebook {
  background: transparent;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #f44336;
}
.btn-facebook:link,
.btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active,
.btn-facebook:hover {
  background: #3b5998;
  color: #fff;
  border-color: #fff;
}
.product1 {
  cursor: pointer;
  margin-bottom: 2rem;
}
.product1 img {
  transition: 0.3s all;
}
.product1:hover img {
  opacity: 0.7;
}
.product1 .details {
  background: #f44336;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product1:hover .details {
  transform: translateY(0);
  opacity: 1;
}
button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: black;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}
.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
}
.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #e7b922;
}
.navbar-light .navbar-toggler {
  outline: none;
  border: none;
}
#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  color: black;
}
#bar:hover,
#bar.active {
  color: white;
}
@media only screen and (max-width: 991px) {
  body > nav > div > button:hover,
  body > nav > div > button:focus {
    background-color: #f44336;
  }
  body > nav > div > button:hover #bar,
  body > nav > div > button:focus #bar {
    color: white;
  }
  #navbarSupportedContent > ul {
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0;
  }
}
